body {
    background-color: rgb(252, 250, 248);
}

* {
    font-family: 'Open Sans';
}
#btn-accordion {
    background-color: #fff;
    color:#0d2d40;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    transition: all .2s;
    font-size: 16px;
  }

  #btn-accordion:hover {
    cursor: pointer;
    transition: all .2s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.09);
}

  #panel {
    padding: 16px;
    background-color: white;
    display: none;
    overflow: hidden;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 1.7;
    word-break: break-all;
    word-spacing: 2px;
}